.navbarSpacer {
    height: 5rem;
    width: 100%;
}

.navWrapper {
    position: fixed;
    width: 100%;
    top: 0.5rem;
    z-index: 1000;
    padding: var(--padding-page-desktop);
    max-width: var(--max-width-page-desktop);
    display: flex;
    justify-content: center;
    align-items: center;

    .navContainer {
        display: flex;
        padding: 0.4rem 0.4rem;
        justify-content: center;
        align-items: center;
        background-color: var(--color-glass);
        backdrop-filter: var(--blur-glass);
        box-shadow: var(--shadow-high);
        border-radius: var(--radius-extra-large);
        -webkit-backdrop-filter: var(--blur-glass);
        transition: top var(--speed-slow);

        &.hidden {
            top: -80px;
        }

        .nav {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            .menuToggleContainer {
                display: none;
            }

            .logoContainer {
                display: flex;
                height: 1rem;
                width: auto;
            }

            .navItems {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                transition: all var(--speed-slow);
            }

            .themeToggleContainer {
                display: flex;
                justify-content: right;
            }
        }
    }
}