.statCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: var(--radius-extra-large);
    border-radius: var(--radius-extra-large);
    // background: var(--color-text-tertiary);
    position: relative;

    .progressBar {
        position: absolute;
        height: 100%;
        width: 0%;
        // left: 0;
        background: linear-gradient(to bottom right, #e0e0e0, #b4b4b4);
        border-radius: var(--radius-extra-large);
        // box-shadow: var(--shadow-medium);
        border: var(--border-secondary);
        z-index: 0;
    }

    .value {
        font-size: var(--font-size-extra-large);
        font-weight: 600;
        color: var(--color-text-primary);
        z-index: 1;
    }

    .description {
        font-size: var(--font-size-medium);
        color: var(--color-text-secondary);
        z-index: 1;
    }
}