.timelineSection {
    --color-timeline-section-bg: #dfe3e7;
    background-color: var(--color-timeline-section-bg);
    padding-top: 3rem;

    border-radius: var(--radius-extra-large);

    .badge {
        display: flex;
        justify-content: center;
        position: sticky;
        top: 4.3rem;
        z-index: 3;
        margin-bottom: 2rem;
        pointer-events: none;
    }

    .timelineHeader {
        display: flex;
        flex-direction: column;
        background: none;
        align-items: center;
        padding: 0 2rem;
        gap: 2rem;
        text-align: center;

        .title {
            font-weight: 300;
            font-size: var(--font-size-large);
            color: var(--color-text-primary);
        }

        .description {
            font-weight: 400;
            // font-size: var(--font-size-medium);
            color: var(--color-text-primary);
            width: clamp(300px, 80%, 600px);
        }
    }

    @media (max-width: 600px) {
        .timelineHeader {
            .description {
                width: auto;
            }
        }
    }
}