.event {
    padding: 0 3rem;
    margin-bottom: 5rem;
    position: relative;
    width: 50%;
    color: var(--color-text-primary);
    transition: opacity var(--speed-extra-slow);
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    opacity: 0.2;

    .year {
        font-size: 1.5rem;
        font-weight: 600;
        // color: var(--color-text-secondary);
    }

    .title {
        font-weight: 300;
        font-size: 1.3rem;
        // font-size: var(--font-size-medium);
        // color: var(--color-text-secondary);
    }

    .tag {
        padding: 0.3rem 0.5rem;
        border-radius: var(--radius-large);
        opacity: 0;
        font-size: 0.8rem;
        transform: translateY(1rem);
        transition: opacity var(--speed-extra-slow), transform var(--speed-extra-slow);


        &.funding {

            background-color: #1ca1204c;
            color: rgb(0, 56, 2);
        }

        &.milestone {
            background-color: #1c8ba14c;
            color: rgb(0, 32, 56);
        }
    }

    .eventDot {
        position: absolute;
        width: var(--dot-size);
        height: var(--dot-size);
        background-color: var(--color-background-primary);
        border: var(--dot-border) solid #ddd;
        border-radius: 50%;
        z-index: 1;
        transition: border-color var(--speed-extra-slow);
    }

    &.right {
        margin-left: 50%;
        // padding-right: 2rem;
        text-align: left;
        align-items: flex-start;

        .eventDot {
            left: 0;
            top: 0;
            transform: translateX(-50%);
        }
    }

    &.left {
        left: 0;
        text-align: right;
        // padding-left: 2rem;
        align-items: flex-end;

        .eventDot {
            right: 0;
            top: 0;
            transform: translateX(50%);
        }
    }

    &.passed {
        opacity: 0.6;

        .eventDot {
            border-color: var(--color-text-secondary);
        }

        .tag {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &.active {
        opacity: 1;

        .eventDot {
            border-color: var(--color-text-primary);
        }
    }
}

@media (max-width: 700px) {
    .event {
        margin-bottom: 3rem;

        .title {
            font-size: 1rem;
        }
    }
}