.newsSection {
    padding-top: 3rem;
    padding-bottom: 1rem;

    .header {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1rem;
        padding: 0 2rem;
    }

    .cardsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        gap: 10px;

        .titleCard {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem;
            border-radius: 0 var(--radius-extra-large) var(--radius-extra-large) 0;
            background: linear-gradient(to right, rgba(209, 215, 217, 0) 0%, var(--color-background-primary) 80%);
            // box-shadow: 10px 0px 20px #00000011;
            padding: var(--radius-extra-large);
            padding-left: 2rem;
            width: 600px;
            z-index: 2;
            // margin-left: 2rem;

            .badgeContainer {
                display: flex;
                justify-content: flex-start;
            }


            .title {
                font-size: var(--font-size-extra-large);
                line-height: var(--line-height-extra-large);
                font-weight: 300;
                color: var(--color-text-primary);
                background: linear-gradient(to bottom right, rgb(86, 105, 113), rgb(17, 71, 106));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0.5;
            }

            .subtitle {
                a {
                    font-weight: 500;
                    color: var(--color-accent-primary);
                    transition: color var(--speed-slow);

                    &:hover {
                        color: var(--color-accent-tertiary);
                    }

                }
            }

            .controlsContainer {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 0.5rem;
                margin-top: auto;

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: var(--radius-extra-large);
                    color: var(--color-accent-secondary);
                    font-size: 1.5rem;
                    transition: background-color var(--speed-slow),
                        color var(--speed-slow);

                    svg {
                        transition: transform var(--speed-slow);
                        transform: none;
                    }

                    &:hover {
                        background-color: #0a26501e;
                        color: var(--color-accent-tertiary);

                        &.nextButton {
                            svg {
                                transform: translateX(2px);
                            }
                        }

                        &.prevButton {
                            svg {
                                transform: translateX(-2px);
                            }
                        }
                    }

                    &.disabled {
                        opacity: 0.5;
                        cursor: default;

                        &:hover {
                            background: none;
                            color: var(--color-accent-secondary);
                            text-shadow: none;
                            filter: none;
                            transform: none;

                            svg {
                                transform: none;
                            }
                        }
                    }
                }

            }

        }

        .sliderContainer {
            flex-grow: 1;
            border-radius: var(--radius-extra-large) 0 0 var(--radius-extra-large);
            overflow: hidden;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            justify-content: flex-start;
            align-items: stretch;
            // padding-right: 2rem;
            margin: -2rem;
            padding: 2rem;
            padding-right: 4rem;

        }
    }
}

@media (max-width: 700px) {
    .newsSection {
        padding-top: 2rem;
        padding-bottom: 0;

        .header {
            justify-content: center;
        }

        .cardsContainer {
            flex-direction: column;
            padding-left: 0;
            gap: 1rem;

            .titleCard {
                width: 100%;
                padding: var(--radius-large);
                align-items: center;
                padding: 0 2rem;
                border-radius: 0;
                background: none;
                margin: 0;
                box-shadow: none;

                .title {
                    font-size: var(--font-size-large);
                    line-height: var(--line-height-large);
                }

                .subtitle {
                    text-align: center;
                }
            }

            .sliderContainer {
                padding-left: 4rem;
            }
        }
    }
}