.primaryButton {
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--radius-extra-large);
    padding: 0.5rem 1rem;
    color: var(--color-background-primary);
    background: var(--bg-text-gradient-secondary);
    box-shadow: var(--shadow-high);
    font-size: 0.9rem;
    gap: 1rem;

    background: linear-gradient(90deg, var(--color-accent-secondary), transparent) var(--color-accent-primary);
    place-content: center;
    transition: box-shadow var(--speed-slow), background-color var(--speed-slow);


    &:hover {
        background-color: var(--color-accent-tertiary);
        box-shadow: var(--shadow-glow-high);
    }
}