.publicationsSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 5rem 0;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 2rem;
        text-align: center;

        .badge {
            display: flex;
            justify-content: center;
        }

        .title {
            font-weight: 300;
            font-size: var(--font-size-large);
            color: var(--color-text-primary);
        }

        .description {
            font-weight: 400;
            // font-size: var(--font-size-medium);
            color: var(--color-text-primary);
            width: clamp(300px, 80%, 600px);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: stretch;
        justify-content: flex-start;
        // background-color: blue;
        width: 100%;

        .contentHeader {
            position: sticky;
            top: 0;
            z-index: 1;
            background: linear-gradient(to bottom,
                    var(--color-background-primary),
                    white);
            padding: 0 2rem;
            padding-top: 4rem;
            display: flex;
            border-radius: 0 0 var(--radius-extra-large) var(--radius-extra-large);
            box-shadow: 0 10px 8px rgba(0, 0, 0, 0.05);


            .filterPane {
                flex-basis: 100%;
                // background-color: var(--color-background-primary);
                // background-color: red;
                // background-color: rgb(241, 244, 246);
                // backdrop-filter: blur(10rem);
                display: flex;
                // border-radius: var(--radius-extra-large);
                padding: var(--radius-extra-large);
                padding-top: 0;
                // box-shadow: var(--shadow-high);
                justify-content: space-between;
            }
        }

        .contentBody {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: stretch;
            z-index: 0;
            padding: 0 2rem;
        }
    }
}