.logoContainer {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    span {
        font-size: 1rem;
        font-weight: 600;
        color: #154062;
        margin-left: 0.5rem;
    }

    .imageContainer {
        height: 100%;
        aspect-ratio: var(--logo-aspect);
        position: relative;
    }
}