:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --padding-page-desktop: 0rem 0.5rem;
  --max-width-page-desktop: 1800px;

  --font-size-extra-large: 5rem;
  --line-height-extra-large: 4.8rem;
  --font-size-large: 2rem;
  --line-height-large: 2.8rem;
  --font-size-medium: 1.5rem;
  --line-height-medium: 1.4rem;

  --navbar-total-height: 5rem;

  --color-background-primary: #f1f1f2;
  --color-background-secondary: #e1f0fe;
  --color-background-tertiary: #819fac15;
  --color-text-primary: rgb(40, 60, 83);
  --color-text-secondary: #6a6d7e;
  --color-text-tertiary: #81818158;
  --color-accent-primary: #134063;
  --color-accent-secondary: #5d7488;
  --color-accent-glass: #13406377;
  --color-glass: #ffffff79;

  --bg-tertiary-glow: radial-gradient(rgba(6, 89, 134, 0.213),
      rgba(255, 255, 255, 0));
  --bg-text-gradient-primary: linear-gradient(45deg, #013c6d, #91b1db);
  --bg-text-gradient-secondary: linear-gradient(45deg, #798d9d, #91b1db);


  --border-primary: 2px outset #ffffff;
  --border-secondary: 0.5px outset #d6e4f823;
  --radius-extra-large: 2rem;
  --radius-large: 1rem;
  --radius-medium: 0.5rem;
  --radius-small: 0.25rem;

  --blur-glass: blur(10px);

  --shadow-high: 0px 0px 10px rgba(0, 0, 0, 0.061);
  --shadow-medium: 0px 0px 5px rgba(0, 0, 0, 0.061);

  --logo-aspect: 19.55/7.73;

  --speed-fast: 0.1s;
  --speed-medium: 0.2s;
  --speed-slow: 0.3s;
  --speed-extra-slow: 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--color-text-secondary);
  background: var(--color-background-primary);
  // background: linear-gradient(180deg,
  //     var(--color-background-primary) 0%,
  //     var(--color-background-secondary) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

@media (max-width: 700px) {
  :root {
    --font-size-extra-large: 4rem;
    --line-height-extra-large: 3.9rem;
    --font-size-large: 2.5rem;
    --line-height-large: 2.4rem;
    --font-size-medium: 1.8rem;
    --line-height-medium: 1.7rem;
  }

}

@media (max-width: 600px) {
  :root {
    --font-size-extra-large: 3rem;
    --line-height-extra-large: 2.9rem;
    --font-size-large: 2rem;
    --line-height-large: 1.9rem;
    --font-size-medium: 1.2rem;
    --line-height-medium: 1.1rem;
  }
}