:root {
  // --font-default: -apple-system, BlinkMacSystemFont, Helvetica, Inter, Neue, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --padding-page-desktop: 0rem 0.5rem;
  --max-width-page-desktop: 1800px;

  --font-size-extra-large: 5rem;
  --line-height-extra-large: 4.8rem;
  --font-size-large: 2rem; //used
  --line-height-large: 2.8rem;
  --font-size-medium: 1.5rem; //used
  --line-height-medium: 1.4rem;

  --navbar-total-height: 5rem;

  --color-background-primary: #f1f1f2; //used
  --color-background-secondary: #e1f0fe; //used
  --color-background-tertiary: #819fac15;
  --color-background-contrast-primary: black; //used
  --color-text-primary: rgb(40, 60, 83); //used
  --color-text-secondary: #6a6d7e; //used
  --color-text-tertiary: #81818158;
  --color-text-contrast-primary: white; //used
  --color-text-contrast-secondary: rgba(255, 255, 255, 0.8); //used
  --color-accent-primary: #134063; //used
  --color-accent-secondary: #5d7488;
  --color-accent-tertiary: #65bcff;
  --color-accent-glass: hsla(206, 68%, 23%, 0.5);
  --color-glass: #ffffff49;
  --color-image-placeholder: #00000029; //used

  --bg-tertiary-glow: radial-gradient(rgba(29, 30, 31, 0.213),
      rgba(255, 255, 255, 0));
  --bg-text-gradient-primary: linear-gradient(45deg,
      hsl(280, 100%, 86%) 0%,
      hsl(250, 100%, 86%) 25%,
      hsl(220, 100%, 86%) 50%,
      hsl(190, 100%, 86%) 75%,
      hsl(160, 100%, 86%) 100%);
  --bg-text-gradient-secondary: linear-gradient(45deg, #798d9d, #91b1db);
  --bg-text-gradient-tertiary: linear-gradient(45deg, #4b799f, #4788dc);
  --bg-gradient-light: linear-gradient(to top right, #e5ebf2, #f0ebf6);
  --bg-gradient-pattern-1: conic-gradient(from 0deg at 50% 50%,
      hsla(200, 100%, 50%, 0.1) 0deg,
      hsla(210, 100%, 50%, 0.1) 72deg,
      hsla(220, 100%, 50%, 0.1) 144deg,
      hsla(240, 100%, 50%, 0.1) 216deg,
      transparent 288deg); //used
  --bg-gradient-pattern-2: conic-gradient(from 180deg at 50% 50%,
      hsla(160, 100%, 50%, 0.1) 0deg,
      hsla(220, 100%, 50%, 0.1) 72deg,
      hsla(180, 100%, 50%, 0.1) 144deg,
      hsla(200, 100%, 50%, 0.1) 216deg,
      transparent 288deg); //used
  --bg-gradient-pattern-3: conic-gradient(from 90deg at 50% 50%,
      hsla(200, 100%, 50%, 0.1) 0deg,
      hsla(210, 100%, 50%, 0.1) 72deg,
      hsla(220, 100%, 50%, 0.1) 144deg,
      hsla(240, 100%, 50%, 0.1) 216deg,
      transparent 288deg); //used
  --bg-gradient-pattern-4: conic-gradient(from 270deg at 50% 50%,
      hsla(160, 100%, 50%, 0.1) 0deg,
      hsla(220, 100%, 50%, 0.1) 72deg,
      hsla(180, 100%, 50%, 0.1) 144deg,
      hsla(200, 100%, 50%, 0.1) 216deg,
      transparent 288deg); //used

  --border-primary: 2px solid #ffffff;
  --border-secondary: 1px solid #d5d5d52b;
  --radius-extra-large: 2rem; //used
  --radius-large: 1rem; //used
  --radius-medium: 0.5rem;
  --radius-small: 0.25rem;

  --blur-glass: blur(10px);
  --blur-glass-large: blur(30px);
  --blur-glass-extra-large: blur(50px); //used

  --shadow-high: 0px 0px 20px rgba(0, 0, 0, 0.1); //used
  --shadow-medium: 0px 0px 5px rgba(0, 0, 0, 0.1);
  --shadow-glow-high: 0px 0px 20px #65bcff7b;
  --shadow-glow-medium: 0px 0px 5px #0091ff;

  --logo-aspect: 19.55/7.73;

  --speed-fast: 0.1s;
  --speed-medium: 0.2s;
  --speed-slow: 0.3s;
  --speed-extra-slow: 1s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  // font-family: var(--font-default);
  max-width: 100%;
  color: var(--color-text-secondary);
  background: var(--color-background-primary);
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-x: clip;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

@media (max-width: 700px) {
  :root {
    --font-size-extra-large: 4rem;
    --line-height-extra-large: 3.9rem;
    --font-size-large: 2.5rem;
    --line-height-large: 2.4rem;
    --font-size-medium: 1.8rem;
    --line-height-medium: 1.7rem;
  }
}

@media (max-width: 600px) {
  :root {
    --font-size-extra-large: 3rem;
    --line-height-extra-large: 2.9rem;
    --font-size-large: 2rem;
    --line-height-large: 1.9rem;
    --font-size-medium: 1.2rem;
    --line-height-medium: 1.1rem;
  }
}