.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // position: relative;

  &::after {
    content: "";
    position: fixed;
    filter: blur(50px);
    transform: translateZ(0);
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 0;
    // animation: rotate 5s linear infinite;
    width: 60%;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
    background: conic-gradient(from 0deg at 50% 50%,
        #0091ff28 0deg,
        #00ff7324 55deg,
        #1e00ff33 120deg,
        #0088ff40 160deg,
        transparent 360deg);
    bottom: 0;
    left: 0%;
  }

  &::before {
    content: "";
    position: absolute;
    filter: blur(50px);
    transform: translateZ(0);
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 0;
    // animation: rotate 5s linear infinite;
    width: 60%;
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
    background: conic-gradient(from 180deg at 50% 50%,
        #40ff0028 0deg,
        #d000ff24 55deg,
        #00ffd933 120deg,
        #0099ff40 160deg,
        transparent 360deg);
    top: 0;
    right: 0;
  }

  .meshBallSceneWrapper {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
    user-select: none;
    max-width: var(--max-width-page-desktop);
    overflow: hidden;

    canvas {
      overflow: hidden;
      pointer-events: none;
      touch-action: none;
    }
  }

  .heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(50px);
    height: 100vh;
    z-index: 0;
    position: relative;
    // margin-bottom: 4rem;

    .heroImageContainer {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100vh + 13rem);
      width: 100%;
      opacity: 0.9;
      // background: black;
      filter: sepia(100%) hue-rotate(180deg) saturate(300%) brightness(0.3);
      // filter: brightness(0.2);
      border-radius: 0 0 var(--radius-extra-large) var(--radius-extra-large);
      background: radial-gradient(ellipse at bottom, #25364a 0%, rgb(0, 0, 0) 100%);
      overflow: hidden;

      img {
        z-index: 0;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // background: linear-gradient(to bottom, #00000000 0%, #000000ff 100%);
        background: radial-gradient(ellipse at bottom, #00000000 0%, rgb(0, 0, 0) 100%);
        // backdrop-filter: blur(50px);
        z-index: 1;
      }
    }

    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 40rem;
      width: 100%;
      gap: 2rem;
      padding: 2rem;

      .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

        .imageContainer {
          width: 100%;
          aspect-ratio: 19.55/7.73;
          position: relative;

          img {
            filter: drop-shadow(0px 0px 20px rgb(38, 59, 78));
          }
        }

        .text {
          font-size: 3rem;
          font-weight: 600;
          color: var(--color-accent-primary);
          color: white;
          text-shadow: 0px 0px 20px rgb(38, 59, 78);
        }
      }

      .tagLine {
        font-size: 4rem;
        line-height: 3.8rem;
        font-weight: 600;
        color: var(--color-text-secondary);
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tagLineMain {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          span {
            overflow: visible;
            // padding: 1rem;

            &:nth-last-of-type(1) {
              // margin-top: -1.5rem;
            }

            &.emph {
              color: var(--color-accent-primary);
              // background: var(--bg-text-gradient-primary);
              background: linear-gradient(45deg, rgb(243, 208, 255) 0%, rgb(203, 184, 255) 25%, rgb(195, 217, 255) 50%, rgb(198, 238, 255) 75%, rgb(192, 255, 248) 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              filter: drop-shadow(0px 0px 20px rgb(38, 59, 78));
            }
          }
        }

        .tagLineSub {
          margin-top: 2rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: var(--color-text-secondary);
          color: rgb(211, 211, 211);
          text-align: center;
          max-width: 30rem;
          line-height: 1.8rem;
          text-shadow: 0px 0px 20px rgb(38, 59, 78);
        }
      }
    }
  }

  .scrollDownButton {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
    cursor: pointer;

    .mouseIcon {
      height: 30px;
      width: 20px;
      border-radius: var(--radius-extra-large);
      border: solid 2px rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      transition: border-color var(--speed-slow), box-shadow var(--speed-slow);

      .scrollerIcon {
        margin-top: 5px;
        height: 10px;
        width: 2px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.5);
        transition: background-color var(--speed-slow);
        animation: scrollDownAnimation 2s ease-out infinite;
      }
    }

    &:hover {
      .mouseIcon {
        border-color: var(--color-accent-tertiary);
        box-shadow: 0 0 10px var(--color-accent-tertiary);

        .scrollerIcon {
          background-color: var(--color-accent-tertiary);
        }
      }
    }
  }

  .aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 0rem 0rem 0rem;
    gap: 2rem;
    width: 100%;
    // background-color: var(--color-background-secondary);
    // background: linear-gradient(to bottom, #00000000 50%, var(--color-background-secondary) 100%);
    z-index: 2;
    border-radius: var(--radius-extra-large) var(--radius-extra-large) 0 0;
  }

  .technologySectionBadge {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(3rem);
  }

  .innovationSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    // gap: 1rem;
    width: 100%;
    // background-color: var(--color-background-secondary);
    // background: linear-gradient(to bottom, var(--color-background-secondary) 0%, #00000000 100%);
    // background-color: red;
    // margin-top: 3rem;
    z-index: 3;
    position: relative;
    // height: 100vh;

    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 5rem 2rem 2rem 2rem;
      // padding-top: 5rem;
      // padding-bottom: 2rem;
      gap: 2rem;
      top: 0;
      position: sticky;
      z-index: 0;
      // background-color: var(--color-background-primary);

      .title {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        span {
          text-align: center;

          &.primary {
            font-size: var(--font-size-extra-large);
            line-height: var(--line-height-extra-large);
            font-weight: 300;
            color: var(--color-text-primary);
            background: linear-gradient(45deg, var(--color-text-secondary), var(--color-accent-primary));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .description {
        text-align: center;
        width: clamp(20rem, 80%, 40rem);
      }

      .cardControlButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        // padding: 0 2rem;

        .cardControlButton {
          cursor: pointer;
          padding: 0.5rem 1rem;
          border-radius: var(--radius-extra-large);
          background-color: white;
          border: var(--border-secondary);
          box-shadow: var(--shadow-high);
        }
      }
    }
  }

  .highlightsSection {
    display: flex;
    width: 100%;
    margin-top: -5rem;
    z-index: 2;
    padding: var(--radius-extra-large);
    padding-top: 8rem;
    border-radius: var(--radius-extra-large);
    background: linear-gradient(to bottom, #55646e, #7b7f86);
    // height: 200vh;
    flex-direction: column;
    justify-content: stretch;
    gap: 2rem;
    position: relative;

    .header {
      // text-align: center;
      width: 100%;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .title {
        font-size: var(--font-size-extra-large);
        line-height: var(--line-height-extra-large);
        font-weight: 300;
        color: var(--color-text-primary);
        background: linear-gradient(to bottom right, rgb(220, 228, 231), rgb(186, 206, 219));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // white-space: nowrap;
        padding: 2rem 0;
        // text-shadow: var(--shadow-high);
      }

      .description {
        margin-top: 2rem;
        width: clamp(20rem, 80%, 40rem);
        color: rgba(255, 255, 255, 0.752);
        // font-size: var(--font-size-medium);
        // line-height: var(--line-height-medium);
      }
    }

    .fundingSectionBadge {
      display: flex;
      justify-content: center;
    }

    .companiesContainer {
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;

      padding: var(--radius-extra-large);
      // background-color: rgba(182, 182, 240, 0.426);
      border-radius: var(--radius-extra-large);

      .companyLogo {
        height: 5rem;
        width: 15rem;
        overflow: hidden;
        position: relative;
        filter: invert(1);
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    .heroSection {
      .center {
        .logo {
          .text {
            font-size: 2rem;
          }
        }

        .tagLine {
          font-size: 2.5rem;
          line-height: 2.6rem;

          .tagLineSub {
            // padding: 0 3rem;
            font-size: 1.2rem;
          }
        }
      }
    }

    .scrollDownButton {
      bottom: 1rem;

      .mouseIcon {
        height: 40px;
        width: 30px;
        border: none;
        transition: none;
        align-items: flex-end;

        .scrollerIcon {
          margin-top: 0;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          animation: scrollUpAnimation 2s ease-out infinite;
        }
      }

      &:hover {
        .mouseIcon {
          border-color: rgba(255, 255, 255, 1);
          box-shadow: 0 0 10px white;

          .scrollerIcon {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    .innovationSection {
      .header {
        padding: 4rem 1rem 0.5rem 1rem;
        gap: 0.5rem;

        .title {
          span {
            &.primary {
              font-size: var(--font-size-large);
              line-height: var(--line-height-large);
            }
          }
        }

        .cardControlButtons {
          gap: 0.5rem;

          div {
            font-size: 0.8rem;
          }
        }
      }
    }

    .highlightsSection {
      gap: 2rem;

      .header {
        .title {
          // padding: 1rem 2rem;
        }
      }

      .companiesContainer {
        padding: 0;

        .companyLogo {
          height: 3rem;
          width: 8.5rem;
        }
      }
    }
  }
}

@keyframes scrollDownAnimation {
  50% {
    transform: translate(0%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0%, 100%);
    opacity: 0;
  }
}

@keyframes scrollUpAnimation {
  50% {
    transform: translate(0%, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0%, -100%);
    opacity: 0;
  }
}