.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // position: relative;

  .meshBallSceneWrapper {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
    user-select: none;
    max-width: var(--max-width-page-desktop);
    overflow: hidden;

    canvas {
      overflow: hidden;
      pointer-events: none;
      touch-action: none;
    }
  }

  .heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(50px);
    height: 100vh;
    z-index: 0;
    position: relative;
    // margin-bottom: 4rem;

    .heroImageContainer {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100vh + 13rem);
      width: 100%;
      opacity: 0.9;
      // background: black;
      // filter: sepia(100%) hue-rotate(180deg) saturate(1000%) brightness(0.2);
      filter: brightness(0.3);
      border-radius: 0 0 var(--radius-extra-large) var(--radius-extra-large);
      overflow: hidden;

      img {
        position: fixed;
      }
    }

    // .fancyPattern {
    //   position: fixed;
    //   filter: blur(50px);
    //   transform: translateZ(0);
    //   aspect-ratio: 1;
    //   border-radius: 50%;
    //   z-index: 0;
    //   // animation: rotate 5s linear infinite;
    //   width: 60%;
    //   opacity: 0.5;

    //   &.f1 {
    //     top: 0;
    //     left: 0;
    //     // background: var(--bg-primary-glow);
    //     background: conic-gradient(from 180deg at 50% 50%,
    //         #16f7ff4f 0deg,
    //         #0885ff33 55deg,
    //         #2be0f033 120deg,
    //         #0088ff5e 160deg,
    //         transparent 360deg);
    //   }

    //   &.f2 {
    //     bottom: 0;
    //     right: 0;
    //     background: conic-gradient(from 180deg at 50% 50%,
    //         #f04fff20 0deg,
    //         #08f3ff26 55deg,
    //         #2b2ef01d 120deg,
    //         #0099ff36 160deg,
    //         transparent 360deg);
    //   }
    // }

    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 40rem;
      width: 100%;
      gap: 2rem;

      .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;

        .imageContainer {
          width: 100%;
          aspect-ratio: 19.55/7.73;
          position: relative;

          img {
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.476));
          }
        }

        .text {
          font-size: 3rem;
          font-weight: 600;
          color: var(--color-accent-primary);
          color: white;
          text-shadow: box-shadow(0px 0px 10px rgba(0, 0, 0, 0.476));
        }
      }

      .tagLine {
        font-size: 4rem;
        line-height: 3.8rem;
        font-weight: 600;
        color: var(--color-text-secondary);
        color: white;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: box-shadow(0px 0px 10px rgba(0, 0, 0, 0.476));

        .tagLineMain {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          text-shadow: var(--shadow-high);

          span {
            overflow: visible;
            // padding: 1rem;

            &:nth-last-of-type(1) {
              // margin-top: -1.5rem;
            }

            &.emph {
              color: var(--color-accent-primary);
              // background: var(--bg-text-gradient-primary);
              background: linear-gradient(45deg, rgb(243, 208, 255) 0%, rgb(203, 184, 255) 25%, rgb(195, 217, 255) 50%, rgb(198, 238, 255) 75%, rgb(192, 255, 248) 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        .tagLineSub {
          margin-top: 2rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: var(--color-text-secondary);
          color: rgb(211, 211, 211);
          margin-bottom: 1rem;
          text-align: center;
          max-width: 30rem;
          line-height: 1.8rem;
          text-shadow: var(--shadow-high);
        }
      }
    }
  }

  .scrollDownButton {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }

  .aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 2rem 2rem 2rem;
    gap: 2rem;
    width: 100%;
    // background-color: var(--color-background-secondary);
    // background: linear-gradient(to bottom, #00000000 50%, var(--color-background-secondary) 100%);
    z-index: 2;
    border-radius: var(--radius-extra-large) var(--radius-extra-large) 0 0;
  }

  .technologySectionBadge {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(3rem);
  }

  .innovationSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    // gap: 1rem;
    width: 100%;
    // background-color: var(--color-background-secondary);
    // background: linear-gradient(to bottom, var(--color-background-secondary) 0%, #00000000 100%);
    // background-color: red;
    // margin-top: 3rem;
    z-index: 3;
    position: relative;
    // height: 100vh;

    .header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 5rem 2rem 2rem 2rem;
      // padding-top: 5rem;
      // padding-bottom: 2rem;
      gap: 2rem;
      top: 0;
      position: sticky;
      z-index: 0;
      // background-color: var(--color-background-primary);

      .title {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        span {
          text-align: center;

          &.primary {
            font-size: var(--font-size-extra-large);
            line-height: var(--line-height-extra-large);
            font-weight: 600;
            color: var(--color-text-primary);
            background: linear-gradient(45deg, var(--color-text-secondary), var(--color-accent-primary));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .description {
        text-align: center;
        width: clamp(20rem, 80%, 40rem);
      }

      .cardControlButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        // padding: 0 2rem;

        .cardControlButton {
          cursor: pointer;
          padding: 0.5rem 1rem;
          border-radius: var(--radius-extra-large);
          background-color: white;
          border: var(--border-secondary);
          box-shadow: var(--shadow-high);
        }
      }
    }
  }

  .highlightsSection {
    display: flex;
    width: 100%;
    margin-top: -5rem;
    z-index: 2;
    padding: var(--radius-extra-large);
    padding-top: 8rem;
    border-radius: var(--radius-extra-large);
    background: linear-gradient(to bottom, #55646e, #7b7f86);
    // height: 200vh;
    flex-direction: column;
    justify-content: stretch;
    gap: 2rem;
    position: relative;

    .header {
      // text-align: center;
      width: 100%;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .title {
        font-size: var(--font-size-extra-large);
        line-height: var(--line-height-extra-large);
        font-weight: 600;
        color: var(--color-text-primary);
        background: linear-gradient(to bottom right, rgb(220, 228, 231), rgb(186, 206, 219));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
        padding: 2rem 0;
        // text-shadow: var(--shadow-high);
      }

      .description {
        width: clamp(20rem, 80%, 40rem);
        color: rgba(255, 255, 255, 0.752);
        // font-size: var(--font-size-medium);
        // line-height: var(--line-height-medium);
      }
    }

    .statsContainer {
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;

      div {
        flex-grow: 1;
      }
    }

    .companiesContainer {
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: center;
      flex-wrap: wrap;

      padding: var(--radius-extra-large);
      // background-color: rgba(182, 182, 240, 0.426);
      border-radius: var(--radius-extra-large);

      .companyLogo {
        height: 5rem;
        width: 15rem;
        overflow: hidden;
        position: relative;
        filter: invert(1);
      }
    }
  }

  .newsSection {
    height: 100vh;

    .header {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 2rem;
    }
  }
}

.scrollToTopButton {
  // position: absolute;
  // bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

@media (max-width: 600px) {
  .main {
    .heroSection {
      .center {
        .tagLine {
          .tagLineSub {
            padding: 0 3rem;
          }
        }
      }
    }

    .innovationSection {
      .header {
        padding: 4.5rem 1rem 1rem 1rem;
        gap: 1rem;

        .cardControlButtons {
          gap: 0.5rem;

          div {
            font-size: 0.8rem;
          }
        }
      }
    }

    .highlightsSection {
      gap: 2rem;

      .header {
        .title {
          padding: 1rem 0;
        }
      }

      .companiesContainer {
        padding: 0;

        .companyLogo {
          height: 3rem;
          width: 8.5rem;
        }
      }

      .statsContainer {
        gap: 1rem;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}