.button {
    z-index: 1;
    position: absolute;
    top: 50%;
    background-color: var(--color-glass);
    backdrop-filter: blur(50px);
    color: var(--color-text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-extra-large);
    cursor: pointer;
    user-select: none;
    width: 2rem;
    padding: 0.5rem 1rem;
    transition: all var(--speed-extra-slow);
    // box-shadow: var(--shadow-medium);

    &.prevButton {
        transform: translate(-50%, -50%);
    }

    &.nextButton {
        transform: translate(50%, -50%);
    }

    &:hover {
        color: var(--color-accent-tertiary);
        background-color: var(--color-accent-glass);
        box-shadow: var(--shadow-glow-high);
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}