.navItem {
    border-radius: var(--radius-large);
    padding: 0.5rem 1rem;
    transition: background-color var(--speed-slow);
    display: flex;
    gap: 0.5rem;
    overflow: hidden;

    .text {
        // text-transform: uppercase;
        font-size: 0.8rem;
        color: var(--color-text-secondary);
        transition: color var(--speed-medium);
    }

    &:hover {
        background-color: var(--color-accent-secondary);

        .text {
            color: var(--color-accent-primary);
        }
    }

    &.active {
        background-color: var(--color-accent-glass);

        .text {
            color: var(--color-background-primary);
            // font-weight: 600;
        }
    }
}

@media (max-width: 600px) {
    .navItem {
        padding: 0.4rem 0.6rem;

        &.hiddenInMobile {
            display: none;
        }

        .text {
            font-size: 0.6rem;
        }
    }
}