.navItem {
    border-radius: var(--radius-large);
    padding: 0.5rem 1rem;
    transition: background-color var(--speed-slow);
    place-content: center;
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
    background-color: #00000000;

    .text {
        font-size: 0.8rem;
        color: var(--color-text-primary);
        transition: color var(--speed-slow), text-shadow var(--speed-slow);
        text-shadow: 0 0 25px #ffffff;
        font-weight: 500;
    }

    &:hover {
        background-color: var(--color-accent-primary);

        .text {
            color: var(--color-accent-tertiary);
            text-shadow: none;
        }
    }

    &.active {
        background-color: var(--color-accent-primary);

        .text {
            color: white;
            text-shadow: none;
        }
    }
}

@media (max-width: 600px) {
    .navItem {

        &.hiddenInMobile {
            display: none;
        }
    }
}