.navItem {
    border-radius: var(--radius-large);
    padding: 0.5rem 1rem;
    transition: background-color var(--speed-slow);
    display: flex;
    gap: 0.5rem;
    overflow: hidden;

    .text {
        font-size: 0.8rem;
        color: var(--color-text-secondary);
        transition: color var(--speed-medium);
    }

    &:hover {
        background-color: var(--color-accent-primary);

        .text {
            color: white;
        }
    }

    &.active {
        background-color: var(--color-accent-secondary);
        border: var(--border-secondary);

        .text {
            color: white;
        }
    }
}

@media (max-width: 600px) {
    .navItem {

        &.hiddenInMobile {
            display: none;
        }
    }
}