.tagButton {
    // cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-extra-large);
    border: var(--border-primary);
    color: var(--color-text-primary);
    transition: background-color var(--speed-extra-slow), color var(--speed-extra-slow);
    text-align: center;
}