.timeline {
    --timeline-width: 2px;
    --dot-size: 12px;
    --dot-border: 2px;
    --dot-total-size: calc(var(--dot-size) + 2 * var(--dot-border));
    --left: 50%;

    position: relative;
    width: 100%;
    margin: 0 auto;

    .timelineProgress {
        content: '';
        position: absolute;
        width: var(--timeline-width);
        background-color: var(--color-text-primary);
        background: linear-gradient(to bottom, #00000000, var(--color-text-primary));
        top: 0;
        // height: var(--progress-height);
        // transition: height 0.1s ease-out;
        // height: 10vh;
        /* 50vh for the stickyYear top position */
        left: var(--left);
        margin-left: calc(-1 * var(--timeline-width) / 2);
        z-index: 1;
        border-radius: var(--timeline-width);
        /* Make sure it stays behind the stickyYear and event dots */
    }

    &::after {
        content: '';
        position: absolute;
        width: var(--timeline-width);
        background-color: var(--color-background-primary);
        top: 0;
        bottom: 0;
        left: var(--left);
        margin-left: calc(-1 * var(--timeline-width) / 2);
        z-index: 0;
        border-radius: var(--timeline-width);
    }

    .stickyYear {
        position: sticky;
        top: 50vh;
        z-index: 4;
        text-align: center;
        background-color: var(--color-text-primary);
        color: white;
        padding: 0.5rem 0rem;
        // border-radius: 8px;
        border-radius: var(--radius-extra-large);
        left: var(--left);
        transform: translateX(-50%);
        width: 6ch;
        font-size: 0.8rem;

        &.flashAnimation {
            background-color: yellow;
        }
    }

    .stickyLabel {
        position: sticky;
        top: 0rem;
        width: 100%;
        padding: 7rem 3rem 3rem 3rem;
        background: linear-gradient(to bottom, var(--color-timeline-section-bg) 80%, #00000000);
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;

        .nameBadge {
            display: flex;
            justify-content: center;
        }

        .sideLabels {
            display: flex;
            justify-content: stretch;

            .stickySideLabel {
                flex-basis: calc(100% - var(--left));
                font-size: var(--font-size-medium);
                font-weight: 400;
                color: var(--color-text-primary);

                &.right {
                    padding-left: 3rem;
                    text-align: left;
                }

                &.left {
                    padding-right: 3rem;
                    text-align: right;
                }
            }
        }
    }

    @media (max-width: 600px) {
        --left: 3rem;

        .stickyLabel {
            padding: 8rem 3rem 3rem 3rem;
            background: linear-gradient(to bottom, var(--color-timeline-section-bg) 50%, #00000000);
            pointer-events: none;

            >div {
                visibility: hidden;
            }
        }
    }
}